.app-section {
  margin: auto;
}

.todo-section {
  padding: 10px;
  background-color: var(--white);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
  border-radius: 10px;
  margin: 15px;
}

.input-Add-todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.no-todo {
  background-color: var(--white);
  padding: 10px;
  color: black;
}
.disable {
  width: 100%;
  border: none;
}

.todo-item {
  display: flex;
  flex-direction: row;
  gap: 1vh;
  margin-top: 20px;
}
.todo-item h2 {
  color: black;
}
